body {
    font-family: arial;
    font-size: 14px;
}
.row {
    width: 100%
}

.panel {
    width: 30%;
    padding: 10px;
    float: left;
}
h2 {
    font-size: 1.2em;
    font-family: arial;
}
h2 small {
    font-weight: normal;
    font-size: .7em;
}
.panel textarea  {
    width: 100%;
    height: 600px;
    padding: 12px;
}
.panel textarea#result {
    height: 600px;
    margin: 0;
    padding: 12px;
    border: none;
    background: white;
}
.panel textarea#result.filled {
    border: 1px dotted gray;
    background: beige;
}
.panel textarea#result.error {
    background: pink 
}

.menu {
    clear: both ;
    padding: 0 10px;
}
input {
    padding: 4px;
}