body {
    font-family: arial;
    font-size: 14px;
}
.row {
    min-width: 100%;
    height: 80%;
}

.panel {
    width: 23%;
    padding: 10px;
    float: left;
}
h1 {
    padding: 10px 10px 0 10px;
}
h2 {
    font-size: 1.2em;
    font-family: arial;
}
h2 small {
    font-weight: normal;
    font-size: .7em;
    float: right;
}
.panel textarea {
    width: 100%;
    height: 600px;
    padding: 12px;
    color: gray;
}
.panel-box {
    width: 100%;
    height: 600px;
    background: beige;
    border: 1px dotted gray;
    color: gray;
    overflow: auto;
}
.panel pre  {
    padding: 12px;
    margin: 0;
}
.panel textarea#results {
    height: 600px;
    margin: 0;
    padding: 12px;
    border: none;
    background: white;
}
.panel #result.error {
    background: pink 
}
.menu {
    clear: both ;
    padding: 0 10px;
}
input {
    padding: 4px;
}
.annotations ul {
    padding: 0 12px;
}
.annotations h3 {
    padding: 6px 0 0 0;
    margin: 24px 12px 0 12px;
    border-top: 1px solid gray;
}
.annotations ul li {
    list-style: none;
}