body {
    font-family: arial;
    font-size: 14px;
    margin: 0;
}
.menu {
    width: 100%;
    margin: 0;
    padding: 20px 12px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background: #424;
}
.column {
    float: left;

}
.column.left {
    width: 30%;
    background: #eee;
}
.column.right {
    width: 70%;
}
.row {
    width: 100%;
    height: 100%;
}
.panel {
    padding: 0 18px;
    float: left;
}
.right .panel.generate {
    background: #cdc;
    width: 100%;
}
.left .panel {
    width: 100%;
}
.right .panel {
    width: 45%;
    padding-left: 24px;
}
.right .panel.results {
    width: 93%;
    display: none;
}
.panel-separator {
    width: 1%;
    float: left;
    font-size: 38px;
    font-weight: bold;
    text-align: center;
    padding: 420px 12px 0 4px;
}
h1 {
    padding: 0px 12px 0 12px;
    margin: 18px 0 0 0;
}
h2 {
    font-size: 1.2em;
    font-family: arial;
}
h3 small {
    font-weight: normal;
    font-size: .7em;
    float: right;
}
h3 {
    font-size: 1.1em;
}
textarea {
    font-size: 1em;
}
.left .panel textarea {
    width: 93%;
    height: 400px;
    padding: 12px;
    color: gray;
}
.right .panel textarea {
    width: 100%;
    height: 500px;
    padding: 12px;
    color: gray;
}
.left .panel textarea.auth {
    height: 250px;
}
.left .panel.auth pre {
    color: gray;
}

.panel-box {
    width: 100%;
    height: 500px;
    background: #cdc;
    border: 1px dotted gray;
    color: gray;
    overflow: auto;
}
.panel pre  {
    padding: 12px;
    margin: 0;
}
.panel #results {
    height: 660px;
    margin: 0;
    padding: 12px;
    border: none;
    background: white;
}
.panel #result.error {
    background: pink 
}

input {
    padding: 4px;
}
#annotations-box {
    display: none;
}
#annotations-box ul {
    padding: 0 12px;
}
#annotations-box h3 {
    padding: 6px 0 0 0;
    margin: 24px 12px 0 12px;
    border-top: 1px solid gray;
}
#annotations-box ul li {
    list-style: none;
}
.clear {
    clear: both
}
#preview {
    display: none;
}